{% extends 'base.html' %}
{# tutorial/templates/tutorial/people.html #}
{% load render_table from django_tables2 %}
{% load static %}


{% block title %}
  List of Matches - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'matches' %}">Matches</a></li>
  <li class="breadcrumb-item active">Match {{number}}</li>
{% endblock %}

{% block content %}
    <!-- just leaving it empty for now. we will add core here soon. -->
  {% render_table table %}
{% endblock %}